body
{
    background-color: rgb(231, 221, 208);
}

h1
{
    color:rgb(151, 116, 97);
}

a
{
    text-decoration: none;
    font-family: impact;
    padding: 10px;
    font-size: 16pt;
    color:rgb(255, 255, 255);
}

a:hover
{
    color:rgb(148, 182, 144);
    font-size: 20pt;
}

.header
{
    width: 100%;
    background-color:rgb(105, 68, 43);
    padding-bottom: 30px;
}

.slider
{
    width: 100%;
    background-color:rgb(173, 134, 108);
}

.box1
{
    width:25%;
    background-color: rgb(105, 68, 43);
    padding-bottom: 200px;
    float:right;
}

.box2
{
    width:25%;
    background-color: rgb(105, 68, 43);
    padding-bottom: 200px;
    float:right;
}

.box3
{
    width:25%;
    background-color:  rgb(105, 68, 43);
    padding-bottom: 200px;
    float:right;
}

.box4
{
    width:25%;
    background-color:  rgb(105, 68, 43);
    padding-bottom: 200px;
    float:right;
}

.content
{
    text-align: center;
    font-family: 'Kalam';
}

table, tr, td, th 
{
    border: 1px solid black;
    border-collapse: collapse;
}

td 
{ 
    padding: 5px;
}

tr
{ 
    background-color: beige;
}

tr:nth-child(odd)
{ 
    background-color: rgb(185, 165, 141);
}

th
{ 
    background-color: black;
    color: blanchedalmond;
}

tr:hover 
{
    background-color: rgb(158, 122, 93);
}