body
{
    background-color: rgb(240, 234, 214);
}

h1
{
    color: rgb(45, 167, 167);
}
a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 16pt;
}

a:hover
{
color: rgb(45, 167, 167);
font-size: 18pt;

}
